<!DOCTYPE html>
<html>
<head>
  <title>SecureSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class="navbar navbar-fixed-top navbar-inverse">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li class="home"><%= link_to "Home", schools_path %></li>
        </ul>
      </nav>
</header>

<body>
  <div class="container">

      <%= yield %>

  </div>

</body>
</html>
